<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.watsontech.web.template.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="cn.watsontech.web.template.entity.Category">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="modified_by" jdbcType="BIGINT" property="modifiedBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="extra_data" jdbcType="LONGVARCHAR" property="extraData" typeHandler="cn.watsontech.core.mybatis.handler.MySqlJSONTypeHandler" />
  </resultMap>
</mapper>